.form {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  input {
    background-color: var(--color-light);
    padding: 0.5rem;
    border: 0;
    border-radius: var(--border-radius-sm);

    &:focus {
      outline: none;
    }
  }
}
.radio-options {
  @media (max-width: 600px) {
    align-self: center;
  }
}
.searchbar {
  margin-left: 3rem;

  @media (max-width: 600px) {
    margin: 1rem 0 0.5rem 0;
  }
}
